<div class="jumbotron">
    <h1>Health and Food</h1>
    <p class="lead">Health and food is the project to make tracking of what they eat as easy as possible.
        This is an exaple in the <span class="lang-sm lang-lbl" lang="en"></span> language.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>If you are interested in a food diary, you may install our application on your phone, using links below:</p>
        <span>
            <a class="btn btn-primary style='display:inline-block; width=50%;'" href="#">IPhone &raquo;</a>
            <a class="btn btn-primary style='display:inline-block; width=50%;'" href="#">Android &raquo;</a>
        </span>
    </div>
    <div class="col-md-4">
        <h2>Content Edtors</h2>
        <p>To start work with database, please sign in.</p>
        <p>@Html.ActionLink("Sign in »", "Login", "Admin", null, new { Class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Any questions. Send us a email. We will answer as soon as possible.</p>
        <p><a class="btn btn-primary" href="mailto:profprof1997@gmail.com">Send email &raquo;</a></p>
    </div>
</div>

